t.hlq
_ReSharper.hc/
src/packages/
obj/
!obj/*project.assets.json
.idea/
.vs/
*.obj
*.suo
*.sdf
*.aps
*.VC.db
*.VC.opendb
*.opensdf
*.pdb
*.log
*.tokens
*.vcxproj.user
*.DotSettings.user
*.csproj.user
Debug/
Release/
dist/
hql/
!lib/Debug/
!lib/Release/
!lib/x64/Debug/
!lib/x64/Release/
pcre-vsbuild/
pcre-*/
/src/_tst/example.hq
build/
external_lib/
build-*/
cmake-build-*/
bin/