t.hlq
_ReSharper.hc/
src/packages/
obj/Debug/
obj/Release/
obj/*
!obj/*nuget.dgspec.json
!obj/*csproj.nuget.g.props
!obj/*csproj.nuget.g.targets
!obj/*project.assets.json
.idea/
.vs/
*.obj
*.suo
*.sdf
*.aps
*.VC.db
*.VC.opendb
*.opensdf
*.pdb
*.log
*.tokens
*.vcxproj.user
*.DotSettings.user
*.csproj.user
Debug/
Release/
dist/
hql/
!lib/Debug/
!lib/Release/
!lib/x64/Debug/
!lib/x64/Release/
pcre-vsbuild/
pcre-*/
/src/_tst/example.hq
