<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Configuration" type="doc.gen.Configuration, doc.gen"/>
  </configSections>
  <Configuration>
    <Calculator>
      <HashName>WHIRLPOOL</HashName>
      <MOpt>whirlpool</MOpt>
      <AppName>whirlpool</AppName>
      <HashOf123>BD801451D24470DF899173BFF3C04E875BE46C97D1529F84269C70C26C0F7D31D1AD21CBD985E7CFD7E1496B3BA5905789BC0790817DA26DC36D7ECA14B689D7</HashOf123>
      <HashOfFile>344907E89B981CAF221D05F597EB57A6AF408F15F4DD7895BBD1B96A2938EC24A7DCF23ACB94ECE0B6D7B0640358BC56BDB448194B9305311AFF038A834A079F</HashOfFile>
      <SpaceCountMOpt>3</SpaceCountMOpt>
      <SpaceCountSearchOpt>6</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>SHA512</HashName>
      <MOpt>sha512</MOpt>
      <AppName>sha512</AppName>
      <HashOf123>6F6C7ED600C5E27023D63AF4F3943DDEF0309FE4CF2F6C4630985F06639FCDE93AB55EE9821D576C625A99AD62A0E3E9CC2396622B271BA8D94BC29866F46923</HashOf123>
      <HashOfFile>3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2</HashOfFile>
      <SpaceCountMOpt>9</SpaceCountMOpt>
      <SpaceCountSearchOpt>9</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>SHA256</HashName>
      <MOpt>sha256</MOpt>
      <AppName>sha256</AppName>
      <HashOf123>0A3B10B4A34A250A87B47D538333F4B06589171C7DFEEE26FF84CC82BAC874FB</HashOf123>
      <HashOfFile>A665A45920422F9D417E4867EFDC4FB8A04A1F3FFF1FA07E998E86F7F7A27AE3</HashOfFile>
      <SpaceCountMOpt>9</SpaceCountMOpt>
      <SpaceCountSearchOpt>9</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>SHA384</HashName>
      <MOpt>sha384</MOpt>
      <AppName>sha384</AppName>
      <HashOf123>AFE0F32AFCA5A9A8422A82FAFB369C14342791EC780D8825465D3B8960A6EA6575EFF9DC5A7C8C563EC39E043E76CCC5</HashOf123>
      <HashOfFile>9A0A82F0C0CF31470D7AFFEDE3406CC9AA8410671520B727044EDA15B4C25532A9B5CD8AAF9CEC4919D76255B6BFB00F</HashOfFile>
      <SpaceCountMOpt>9</SpaceCountMOpt>
      <SpaceCountSearchOpt>9</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>SHA1</HashName>
      <MOpt>sha1</MOpt>
      <AppName>sha1</AppName>
      <HashOf123>274F856438363F4032C8B87CF6BF49CEB9B5AC3C</HashOf123>
      <HashOfFile>40BD001563085FC35165329EA1FF5C5ECBDBBEEF</HashOfFile>
      <SpaceCountMOpt>13</SpaceCountMOpt>
      <SpaceCountSearchOpt>11</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>MD5</HashName>
      <MOpt>md5</MOpt>
      <AppName>md5</AppName>
      <HashOf123>E0C110627FA4B42189C8DFD717957537</HashOf123>
      <HashOfFile>202CB962AC59075B964B07152D234B70</HashOfFile>
      <SpaceCountMOpt>15</SpaceCountMOpt>
      <SpaceCountSearchOpt>12</SpaceCountSearchOpt>
    </Calculator>
    <Calculator>
      <HashName>MD4</HashName>
      <MOpt>md4</MOpt>
      <AppName>md4</AppName>
      <HashOf123>3689CA24BF71B39B6612549D87DCEA68</HashOf123>
      <HashOfFile>C58CDA49F00748A3BC0FCFA511D516CB</HashOfFile>
      <SpaceCountMOpt>15</SpaceCountMOpt>
      <SpaceCountSearchOpt>12</SpaceCountSearchOpt>
    </Calculator>
	<Calculator>
      <HashName>CRC32</HashName>
      <MOpt>crc32</MOpt>
      <AppName>crc23</AppName>
      <HashOf123>884863D2</HashOf123>
      <HashOfFile>567DFDD1</HashOfFile>
      <SpaceCountMOpt>10</SpaceCountMOpt>
      <SpaceCountSearchOpt>10</SpaceCountSearchOpt>
    </Calculator>
  </Configuration>
</configuration>